.inner-tooltip-container {
  padding: 1.27rem 0.8rem;
  width: 17.8rem;
  height: 20.5rem;
  background: #fff;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #000;
}

.tooltip__title {
  font-weight: 700;
  font-size: 2rem;
  line-height: 2rem;
  text-transform: uppercase;
  color: #162c4e;
  margin-bottom: 1.5rem;
}

.tooltip__text {
  font-weight: 400;
  font-size: 0.9rem;
  line-height: 1.9rem;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 2.1rem;
}

.tooltip__close {
  position: absolute;
  right: 0.8rem;
  top: 1.27rem;
  width: 1.33rem;
  height: 1.33rem;
  background: center/cover no-repeat url("@/assets/bg/cross.svg");
  cursor: pointer;
}

.tooltip__btn {
  width: 11rem;
  color: #fff;
}
