@import "../../mixins.scss";

.hero {
  & .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.hero__content {
  margin-bottom: 1rem;
}

.hero__logo {
  width: 10.5rem;
  height: 3.3rem;
  margin-bottom: 8.3vh;
}

.hero__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 2.9vh;
}

.hero__title {
  margin-bottom: 0.74vh;
}

.hero__subtitle {
  width: 23.8rem;
  font-weight: 400;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.8);
}

.hero__timer {
  display: flex;
  justify-content: center;
  margin-bottom: 6.48vh;
}

.hero__any-info {
  display: flex;
  flex-direction: column;
  align-items: center;

  & span {
    margin-bottom: 1.1vh;
  }
}

.hero__btn {
  width: fit-content;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: #ffffff;
}

.footer {
  width: 100%;
  height: 10.6rem;
  background: #162c4e;
  display: flex;
  align-items: center;

  & .container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    @include tablets {
      flex-direction: column;
    }
  }

  &__form {
    position: relative;
  }

  &__input {
    width: 24.5rem;

    @include tablets {
      margin-bottom: 15px;
    }
  }

  &__submit {
    width: 2.3rem;
    height: 2.3rem;
    position: absolute;
    right: 8px;
    top: 50%;
    transform: translateY(-50%);

    @include tablets {
      top: 39%;
    }
  }

  &__arrow {
    width: 20px;
    height: 20px;
  }

  &__other-btn {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    color: #fff;

    @include tablets {
      position: relative;
      top: 0;
      transform: translateY(0);
    }
  }
}
