.input-component {
  width: 100%;
}

.input {
  width: 100%;
  padding: 0.88rem 1.2rem;
  border-radius: 100px;
  font-weight: 400;
  font-size: 1rem;
  line-height: 2rem;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  background: #fff;

  &::placeholder {
    color: #989fb7;
    font-weight: 400;
    font-size: 1rem;
    line-height: 2rem;
    color: rgba(0, 0, 0, 0.6);
  }
}
