.input-component {
  width: 100%;
}

.input {
  width: 100%;
  padding: 16px 21px;
  border-radius: 100px;
  font-weight: 400;
  font-size: 18px;
  line-height: 27px;
  color: rgba(0, 0, 0, 0.6);
  outline: none;
  background: #fff;

  &::placeholder {
    color: #989fb7;
    font-weight: 400;
    font-size: 18px;
    line-height: 27px;
    color: rgba(0, 0, 0, 0.6);
  }
}
