@import "./mixins.scss";

html {
  font-size: 18px;

  @include desktopHd {
    font-size: 16px;
  }

  @include desktop {
    font-size: 14px;
  }

  @include phones {
    font-size: 12px;
  }
}

::selection {
  background: #bdbdbd;
}

button,
input {
  border: 0;
  padding: 0;

  &:focus {
    outline: none;
  }
}

input {
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
  margin: 0;
}

button {
  cursor: pointer;
}

* {
  box-sizing: border-box;
}

ul {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  align-items: center;
}

p {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
  transition: all 0.3s ease;
}

#app {
  font-family: "Poppins", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: rgba(0, 0, 0, 0.8);
}

.app-container {
  position: relative;
  color: #000;
  background: #fff;
  display: flex;
  flex-direction: column;

  &::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 26rem;
    height: 23rem;
    background: center/cover no-repeat
      url("./assets/bg/heroLeftCornerDecor.png");

    @include tablets {
      top: -3rem;
      left: -1rem;
      width: 20rem;
      height: 17rem;
    }

    @include phones {
      width: 15rem;
      height: 12rem;
    }
  }

  &::after {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    width: 15rem;
    height: 18rem;
    background: center/cover no-repeat
      url("./assets/bg/heroRightCornerDecor.png");

    @include phones {
      top: -1rem;
      right: -2rem;
      width: 13rem;
      // height: 15rem;
    }
  }
}

.container {
  width: 90%;
  max-width: 1705px;
  margin: 0 auto;
}

.section {
  padding-top: 10.2vh;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  &__title {
    font-weight: 700;
    font-size: 4rem;
    line-height: 4.1rem;
    text-transform: uppercase;
    color: rgba($color: #162c4e, $alpha: 0.39);

    @include desktop {
      font-size: 3.5rem;
      line-height: 3.6rem;
    }

    @include tablets {
      font-size: 2.25rem;
      line-height: 2.3rem;
    }
  }

  @include tablets {
    padding-top: 7vh;
  }
}
