.btn {
  width: 100%;
  padding: 0.88rem 1.5rem;
  color: inherit;
  background: #1d4169;
  border-radius: 40px;
  font-size: inherit;
  font-weight: inherit;
  letter-spacing: inherit;
  color: inherit;
  display: flex;
  align-items: center;
  justify-content: space-between;

  &_justify_center {
    justify-content: center;
  }

  &_fill_transparent {
    padding: 0;
    background: none;
  }

  &__arrow {
    margin-left: 20px;
    width: 20px;
    height: 20px;

    &_direction_down {
      transform: rotate(90deg);
    }
  }

  &_type_submit {
    width: 100%;
    height: 100%;
    padding: 0;
    border-radius: 50%;
    background: #df2224;
    display: flex;
    justify-content: center;
    align-items: center;

    & .btn__icon {
      width: 60%;
      height: 60%;
    }
  }

  &_type_square {
    border: 2px solid rgba(255, 255, 255, 0.8);
    border-left: 7px solid #fff;
    border-radius: 0;
    background: none;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
}
